* {
  margin: 0px;
}

body {
  font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

.App {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto;
}

@media screen and (max-width : 780px) {
  .App {
    grid-template-columns: auto;
  }
}